<nav class="navbar navbar-expand-lg navbar-light" style="background-color:  #0f6961;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="image/BLANCO UNAV NEW-NEW-08.png" width="160.2" height="40.1" alt=""></a>
    </div>
  </nav>