<%- include('../partials/head'); %>
<body>
    <%- include('../partials/header'); %>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th class="col">Enlace</th>
                    <th class="col">Descripción</th>
                    <th class="col">Escuela</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="#"><img src="image/tesis-icono.png" alt="" class="img-tesis"></a></td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur doloribus esse perspiciatis dicta. Impedit placeat eius aperiam quibusdam reprehenderit distinctio aut corporis repudiandae eum, blanditiis at sequi. Sunt, non similique!</td>
                    <td>Escuela de ingenieria</td>
                </tr>
                <%console.log(data.pageNumber)%>
                <%console.log(data.totalPaginas)%>
                <%console.log(data.tesis[0].nombre)%>
                <%console.log(data.tesis[0].descripcion)%>
                <%console.log(data.tesis[0].tipo_escuela)%>
                <%console.log(data.tesis[0].path)%>
            </tbody>
        </table>
        <%for(let i = 0; i<data.pageNumber; i++){%>
            <p><%i%></p>
        <%}%>
    </div>
</body>
<%- include('../partials/footer'); %>
</html>